$color__main: #fff;
$color__primary: #234fc0;
$color__primary-hover: #4274F7;
$color__primary-active: #001D67;
$color__background: #e7eeff;
$color__text: #000;
$color__seconady: #b1b1b1;
$color__success-border: #00a825;
$color__success: #d6ffdf;
$color__danger-border: #ff3b3b;
$color__danger: #ffcfde;

$box-shadow: 0px 1px 9.8px 1px #c9cee0;